body {
    margin: 0;
    font-family: 'DM Sans', sans-serif;

    font-size: 15px;
    line-height: 1.6;
    color: #333;
}

*, *:before, *:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/* Container */

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Intro */

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;

    background: url(../images/intro.jpg) center no-repeat;
    -webkit-background-size: center;
    background-size: cover;
}

.header__inner {
    width: 100%;
    min-width: 880px;
    margin: 0 auto;
}

.header_logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-transform: uppercase;
    text-align: center;
    align-items: center;
    font-size: 24px;
    color: #083857;
}

.intro__suptitle {
    font-family: 'Caveat', cursive;
    color: #333;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
}

.intro__title {
    margin-top: 30px;
    color: #333;
    font-size: 80px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
}
.intro__subtitle {
    word-spacing: 10px;
    margin-top: 20px;
    color: #333;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    
}


/* Header */

.header {
    width: 100%;
    padding-top: 10px;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.foto_logo {
    margin-right: 20px;
    width: 250px;
    height: 140px;
    border-radius: 5px;
}

/* Nav */

.nav {
    font-size: 14px;
    text-transform: uppercase;
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
    position: relative;

    color: #fff;
    text-decoration: none;

    transition: color .1s linear;
}

.nav__link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;

    background-color: #333;
    opacity: 0;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity .1s linear;
}

.nav__link:hover {
    color: #333;
} 

.nav__link:hover::after {
    opacity: 1;
}

/* Section */

.section {
    padding: 80px 0;
    border-bottom: #333 solid 1px;
}

.section__header {
    width: 100%;
    margin: 0 auto 40px;
    
}

.section__header__gray {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    margin: 0 auto 40px;
    background-color: #dbd8d8;
}

.section__title {
    padding-top: 20px;
    font-size: 19px;
    color: #333;
    text-align: center;
}

.italic {
    /*font-family: 'Caveat', cursive;*/
    font-size: 20px;
    font-weight: 700;
    /*text-transform: uppercase;*/
}

.li__palec {
    list-style-type: '👉';
    padding-inline-start: 1ch;
  }

/* Sertyfikaty */

.gallery__certyfikaty {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 10px;
    margin-bottom: 10px;
    justify-content: space-around;
}

.gallery__certyfikaty img {
    width: 100%;
    height: 100%;
    /*object-fit: cover;*/
    margin-right: 10px;
    margin-bottom: 10px;
    width: 350px;
    height: 220px;
}

.gallery__certyfikaty img:hover {
    transform: scale(1.8);
}

.section__titlesectyon {
    font-size: 24px;
    text-align: center;
    color: #333;   
}

.section__titlesectyon1 {
    font-size: 24px;
    text-align: center;
    align-items: center;
    align-content: space-between;
    color: #333;
}

.arteterapia_img {
    width: 15%;
}